* {
    box-sizing: border-box;
    margin: 0;
}

/*Esta tipografia toca cambiarla y cargarla al proyecto */
@font-face {
    font-family: 'Archivo';
    src: url(ArchivoBlack-Regular.ttf);
    size-adjust: 105%;
}

html {
    font-size: 16px;
    font-family: 'Archivo', Arial, Helvetica, sans-serif;
    line-height: 0.9;
}

body {
    background-color: #ffffff;
}


header {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
}

h1 {
    color: #000000;
    font-size: 12rem;
    font-weight: 500;
    font-variation-settings: 'wght' 400;
    letter-spacing: -0.05em;
}

.menu nav{
    display: flex;
    justify-content: space-between;
}
.menu nav a{
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

.menu {
    padding: 1rem 1rem 3rem 1rem;
}   

a nav {
    color: currentColor;
    text-underline-offset: 2px;
}

.fotos {
    display: grid;
    grid-template-columns: 4fr 5fr 2fr 0fr 0fr 0fr;
    gap: 0;

    width: 100%;

    cursor: e-resize;

    padding: 1rem 0.5rem;

    transition: grid-template-columns 0.7s;
}

.fotos div {
    overflow: hidden;

    opacity: 1;
    transition: opacity 0.7s;
}

.fotos div.hide {
    opacity: 0;
}

img {
    max-width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
}

figure {
    width: 100%;
    padding: 0 0.5rem;
}

figcaption {
    max-width: 10rem;
    margin: 0.25rem 0 0 0;
    color: white;
}

.background-blobs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.blob {
    position: absolute;
    background: #FF2200;
    border-radius: 100%; 
    filter: blur(100px);
    opacity: 0.9;
    transition: transform 3s ease-in-out, z-index 0.5s ease;
    
}
